boto3==1.9.130
Django==2.2.2
django-extensions==2.1.6
django-model-utils==3.1.2
feedparser==5.2.1
gunicorn==19.9.0
ipython==7.4.0
model-mommy==1.6.0
pipdeptree
praw==6.1.1
psycopg2==2.8.1
wordcloud==1.5.0
